<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-error *ngIf="errorFlag">
    It was an error trying to {{ registerForm ? "Register" : "Login" }}. Please
    try again.
  </mat-error>
  <mat-form-field>
    <mat-label>Email:</mat-label>
    <input matInput type="email" formControlName="email" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password:</mat-label>
    <input matInput type="password" formControlName="password" />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid">
    {{ registerForm ? "Register" : "Login" }}
  </button>
</form>
<button
  mat-stroked-button
  color="accent"
  type="button"
  (click)="toggleRegister()">
  {{ registerForm ? "Login with account" : "Register new account" }}
</button>
